* {
    margin: 0;
    padding: 0;    
}

main {
    background-color: rgb(1, 32, 14);
    min-height: 100vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    max-height: 90px;
    background-color:antiquewhite;
}